In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
plt.style.use('ggplot')
#Plot styling/configurations
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
plt.rcParams['figure.figsize'] = 14,8
plt.rcParams['axes.facecolor']='white'
plt.rcParams.update({'font.size': 13})
import missingno as msno
import warnings
warnings.filterwarnings('ignore')
seq_col_brew = sns.color_palette("YlGnBu_r", 4)
sns.set_palette(seq_col_brew)
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
ls

box-office.ipynb       test.csv*
sample_submission.csv* train.csv*

In [4]:
data = pd.read_csv('train.csv')

In [5]:
cols = ['budget', 'release_date', 'runtime', 'popularity', 'revenue']

In [6]:
x_train = pd.read_csv('train.csv', usecols=[*cols])
y_train = x_train['revenue']
test = pd.read_csv('test.csv')

In [7]:
x_train.drop(labels='revenue', axis=1, inplace=True)

In [9]:
x_train.head()

     budget  popularity release_date  runtime
0  14000000    6.575393      2/20/15     93.0
1  40000000    8.248895       8/6/04    113.0
2   3300000   64.299990     10/10/14    105.0
3   1200000    3.174936       3/9/12    122.0
4         0    1.148070       2/5/09    118.0

# Data Analysis

# Feature Engineering

### pd.to_datetime

In [10]:
date = pd.to_datetime(x_train['release_date'])

In [11]:
date

0      2015-02-20
1      2004-08-06
2      2014-10-10
3      2012-03-09
4      2009-02-05
5      1987-08-06
6      2012-08-30
7      2004-01-15
8      1996-02-16
9      2003-04-16
10     1976-11-21
11     1987-07-10
12     1999-09-15
13     2005-03-04
14     2002-06-20
15     2010-10-06
16     2005-08-04
17     2013-12-25
18     2011-02-02
19     2005-08-02
20     1998-04-03
21     1982-08-13
22     2012-07-28
23     2011-09-02
24     2006-09-09
25     1992-10-23
26     1997-09-08
27     2013-09-07
28     1986-08-08
29     2002-04-07
30     2011-11-02
31     2005-05-02
32     2015-10-21
33     2014-10-02
34     2007-08-08
35     2012-04-16
36     2000-01-28
37     1995-03-10
38     2013-09-13
39     2065-04-07
40     2006-04-26
41     2067-06-22
42     2000-03-03
43     2014-09-05
44     2005-02-04
45     2009-10-09
46     2006-03-23
47     2015-12-25
48     2017-03-24
49     1994-11-17
50     2008-01-30
51     2065-07-01
52     1980-06-24
53     1988-01-15
54     2016-02-19
55     1993-07-02
56     2009-08-05
57     1997-06-20
58     2008-06-24
59     2002-03-08
60     2006-11-14
61     2056-05-30
62     1998-01-16
63     1989-07-28
64     2013-09-21
65     1988-02-26
66     2010-01-14
67     2013-10-04
68     2062-12-25
69     2006-06-03
70     2005-03-04
71     2004-02-06
72     1990-04-05
73     2004-03-30
74     1976-03-31
75     2011-08-18
76     2000-05-05
77     1980-07-25
78     1981-12-18
79     2016-09-15
80     2002-12-14
81     2005-10-21
82     2005-07-29
83     1984-12-06
84     2011-01-21
85     1995-06-09
86     1979-12-18
87     1995-01-30
88     2017-03-31
89     1993-02-05
90     2003-10-10
91     2001-03-16
92     1995-09-20
93     2008-05-15
94     2001-05-16
95     2012-12-09
96     2011-11-14
97     2011-06-26
98     2012-08-31
99     1988-04-15
100    1990-01-26
101    2001-12-11
102    2007-08-18
103    2012-09-28
104    2014-02-20
105    2013-09-08
106    2010-01-21
107    1995-05-24
108    1999-04-15
109    2066-10-10
110    2001-10-12
111    2004-08-06
112    2015-11-20
113    1988-03-25
114    2001-12-18
115    2002-05-31
116    2012-11-01
117    2007-03-02
118    1993-06-18
119    1997-01-31
120    2001-08-03
121    1999-06-18
122    1990-02-09
123    2000-03-20
124    2009-07-17
125    2008-07-03
126    1978-06-02
127    2000-12-22
128    2005-10-14
129    1996-10-16
130    2013-07-24
131    2011-01-01
132    2000-09-02
133    2010-11-04
134    2007-09-06
135    2006-06-29
136    2012-05-25
137    1994-04-29
138    2010-02-05
139    2003-04-24
140    2068-07-18
141    2003-08-31
142    2016-01-22
143    2008-11-05
144    2067-10-26
145    2016-12-09
146    1988-03-17
147    2013-08-01
148    1992-04-03
149    2012-03-28
150    1980-12-12
151    2016-01-25
152    1988-01-01
153    2015-01-23
154    1983-01-04
155    2002-02-14
156    2005-03-05
157    1994-01-07
158    2000-10-06
159    1995-02-09
160    2006-02-07
161    1988-04-22
162    2011-09-11
163    1998-09-17
164    2007-04-05
165    1989-01-01
166    1982-06-06
167    2005-09-09
168    1975-05-21
169    1981-12-24
170    1985-03-28
171    1987-10-11
172    2066-02-23
173    1991-08-02
174    2011-10-14
175    2001-06-22
176    2000-01-14
177    1997-03-07
178    1982-10-22
179    1989-07-07
180    2008-09-09
181    2002-10-24
182    1991-05-24
183    2010-09-09
184    2006-06-22
185    1997-02-20
186    2006-10-06
187    2028-11-24
188    2008-06-22
189    2014-03-14
190    1996-03-08
191    2012-05-17
192    2016-07-01
193    1983-09-07
194    2009-10-10
195    2008-10-01
196    1988-12-02
197    2006-04-19
198    2000-04-07
199    2014-09-12
200    2006-12-15
201    1988-09-08
202    2013-10-30
203    2007-07-25
204    1985-11-15
205    2015-09-17
206    1992-05-08
207    1995-06-30
208    1994-04-22
209    2004-03-05
210    1997-12-25
211    1975-06-18
212    1993-08-27
213    2012-06-01
214    2012-09-01
215    2013-02-07
216    2014-08-08
217    1981-06-25
218    1980-08-22
219    2004-07-09
220    2009-04-22
221    1992-11-13
222    2010-06-04
223    1992-03-20
224    2016-05-01
225    2003-03-22
226    2011-02-24
227    2009-10-29
228    1969-06-17
229    1995-03-31
230    2004-06-16
231    1993-10-08
232    2013-10-04
233    2009-02-04
234    2016-10-15
235    2007-02-09
236    1996-08-16
237    1978-09-14
238    1990-07-12
239    2002-12-13
240    1997-10-08
241    2013-06-13
242    2009-08-01
243    1995-11-02
244    1979-04-26
245    2008-10-16
246    1994-07-29
247    2004-09-08
248    2001-06-07
249    1978-10-06
          ...
2750   2003-01-01
2751   2015-06-19
2752   1987-09-02
2753   1998-09-11
2754   2015-08-13
2755   1994-06-03
2756   2002-12-27
2757   2012-08-23
2758   2048-04-06
2759   1995-06-28
2760   2009-11-26
2761   2009-05-15
2762   1996-10-11
2763   2001-09-07
2764   2014-11-28
2765   1988-11-17
2766   2000-12-14
2767   2010-10-21
2768   2012-11-01
2769   2009-11-06
2770   2015-04-22
2771   1986-07-30
2772   2015-03-15
2773   1998-11-06
2774   1995-09-13
2775   2011-09-13
2776   1995-09-14
2777   1996-06-06
2778   2005-05-19
2779   2004-09-06
2780   1995-12-22
2781   1998-10-16
2782   1998-06-26
2783   2002-02-15
2784   1981-04-10
2785   2001-04-12
2786   2011-04-16
2787   2010-01-14
2788   1984-02-07
2789   2014-02-28
2790   2007-02-09
2791   2006-11-17
2792   2002-06-14
2793   2015-06-25
2794   2015-02-20
2795   2003-09-11
2796   2010-11-03
2797   2061-01-01
2798   2007-01-21
2799   2010-09-02
2800   2007-04-20
2801   1991-11-20
2802   2002-11-13
2803   2002-07-26
2804   1992-09-04
2805   1991-08-23
2806   2005-07-29
2807   2006-05-26
2808   1986-06-11
2809   1994-11-18
2810   2015-04-02
2811   2008-12-19
2812   2014-06-12
2813   2015-10-01
2814   1988-04-29
2815   2013-04-18
2816   2002-11-01
2817   2008-02-01
2818   1993-11-24
2819   2006-12-01
2820   2002-12-05
2821   1981-05-01
2822   2007-06-01
2823   2010-10-01
2824   1994-11-18
2825   1984-06-29
2826   1995-07-28
2827   1998-08-14
2828   2015-12-18
2829   2008-08-07
2830   1996-09-13
2831   1984-07-20
2832   2006-09-15
2833   1988-11-22
2834   2003-12-12
2835   2010-03-12
2836   2010-04-01
2837   2014-07-25
2838   2017-06-23
2839   1998-07-16
2840   2014-08-14
2841   1990-06-08
2842   2005-05-12
2843   2013-08-21
2844   2004-02-20
2845   2010-10-26
2846   2005-03-10
2847   2014-10-10
2848   2014-06-05
2849   2008-12-25
2850   2014-02-13
2851   1985-12-12
2852   2012-01-06
2853   1983-03-25
2854   1994-12-02
2855   1998-09-12
2856   2013-11-23
2857   2013-08-23
2858   2006-06-08
2859   2011-07-22
2860   1982-11-30
2861   1996-06-10
2862   2010-09-30
2863   1999-12-25
2864   1972-02-19
2865   2012-11-30
2866   2007-12-13
2867   2010-02-16
2868   2006-02-19
2869   2014-10-09
2870   2003-05-30
2871   2002-12-19
2872   2007-09-21
2873   2013-03-13
2874   2010-11-04
2875   2009-03-06
2876   1996-09-27
2877   1984-10-26
2878   1970-05-01
2879   2045-12-27
2880   2013-06-27
2881   2015-10-15
2882   1980-04-25
2883   2008-07-24
2884   1985-05-03
2885   2015-04-09
2886   2006-01-21
2887   2001-10-05
2888   2054-06-24
2889   1979-04-25
2890   2017-02-01
2891   2011-10-12
2892   1986-06-13
2893   1978-07-27
2894   1995-06-02
2895   2001-07-13
2896   2014-05-02
2897   2001-09-04
2898   1992-06-04
2899   2000-05-19
2900   2012-11-01
2901   1991-05-24
2902   2013-06-06
2903   2007-01-01
2904   1996-02-23
2905   1997-01-24
2906   1993-06-24
2907   1986-03-21
2908   1994-03-04
2909   2016-05-06
2910   2039-10-06
2911   2004-08-20
2912   1994-05-01
2913   2002-10-06
2914   2016-10-20
2915   2001-02-08
2916   2009-09-11
2917   1988-12-21
2918   1987-09-25
2919   2016-07-01
2920   2000-10-29
2921   1987-08-07
2922   2004-07-02
2923   1986-06-06
2924   2016-06-24
2925   2012-10-17
2926   2007-08-29
2927   2002-11-17
2928   1989-12-22
2929   2004-10-10
2930   1987-09-18
2931   2000-06-16
2932   2066-12-20
2933   1999-10-08
2934   2012-08-02
2935   2004-06-10
2936   2004-01-01
2937   2016-04-28
2938   2012-05-30
2939   2010-09-10
2940   1977-11-30
2941   2002-09-20
2942   2012-08-14
2943   1996-04-12
2944   1979-08-15
2945   2063-10-06
2946   2027-10-31
2947   1982-11-04
2948   2016-02-24
2949   1999-09-24
2950   2003-08-15
2951   2015-09-11
2952   2015-04-16
2953   2000-09-08
2954   2004-10-22
2955   2009-01-16
2956   1986-11-21
2957   1995-11-21
2958   2007-05-19
2959   2007-10-26
2960   2010-06-02
2961   1981-11-13
2962   2017-03-03
2963   2007-11-03
2964   1988-04-29
2965   2012-12-18
2966   1997-07-31
2967   2061-09-25
2968   2005-10-22
2969   2001-11-07
2970   1992-11-25
2971   1990-10-12
2972   2006-07-27
2973   1985-08-09
2974   2005-01-28
2975   2009-07-31
2976   2000-03-03
2977   2001-05-15
2978   1998-10-23
2979   2010-04-23
2980   2016-02-04
2981   2016-09-09
2982   2012-09-12
2983   1997-04-04
2984   2003-08-08
2985   2006-02-17
2986   2004-09-03
2987   1989-01-20
2988   2002-05-20
2989   2001-05-11
2990   1997-03-28
2991   2001-01-12
2992   2024-03-18
2993   2004-06-17
2994   1992-09-18
2995   1994-04-22
2996   2013-03-28
2997   1996-10-11
2998   2004-01-16
2999   2011-09-22
Name: release_date, Length: 3000, dtype: datetime64[ns]

In [12]:
x_train['release_month'] = date.dt.month

In [13]:
x_train['release_year'] = date.dt.year

In [14]:
x_train['release_day'] = date.dt.day

In [15]:
x_train.drop(labels='release_date', axis=1, inplace=True)

In [16]:
x_train.head()

     budget  popularity  runtime  release_month  release_year  release_day
0  14000000    6.575393     93.0              2          2015           20
1  40000000    8.248895    113.0              8          2004            6
2   3300000   64.299990    105.0             10          2014           10
3   1200000    3.174936    122.0              3          2012            9
4         0    1.148070    118.0              2          2009            5

### Indicating Missingness

In [19]:
x_train['Is_Missing'] = np.where(x_train['runtime'].isnull(), 1, 0)

In [20]:
x_train.head()

     budget  popularity  runtime  release_month  release_year  release_day  Is_Missing
0  14000000    6.575393     93.0              2          2015           20           0
1  40000000    8.248895    113.0              8          2004            6           0
2   3300000   64.299990    105.0             10          2014           10           0
3   1200000    3.174936    122.0              3          2012            9           0
4         0    1.148070    118.0              2          2009            5           0

In [22]:
x_train[x_train.isnull().any(axis=1)]

       budget  popularity  runtime  release_month  release_year  release_day  Is_Missing
1335  6000000    0.292296      NaN             10          2007           29           1
2302        0    0.002229      NaN              3          1996           14           1

### Handling Missing Values

In [24]:
x_train['runtime'].mean()

107.85657104736491

In [27]:
x_train.fillna(x_train['runtime'].mean(), inplace=True)

In [28]:
x_train.isnull().sum()

budget           0
popularity       0
runtime          0
release_month    0
release_year     0
release_day      0
Is_Missing       0
dtype: int64

In [30]:
x_train.head(100)

       budget  popularity  runtime  release_month  release_year  release_day  Is_Missing
0    14000000    6.575393     93.0              2          2015           20           0
1    40000000    8.248895    113.0              8          2004            6           0
2     3300000   64.299990    105.0             10          2014           10           0
3     1200000    3.174936    122.0              3          2012            9           0
4           0    1.148070    118.0              2          2009            5           0
5     8000000    0.743274     83.0              8          1987            6           0
6    14000000    7.286477     92.0              8          2012           30           0
7           0    1.949044     84.0              1          2004           15           0
8           0    6.902423    100.0              2          1996           16           0
9     6000000    4.672036     91.0              4          2003           16           0
10    1000000   14.774066    119.0             11          1976           21           0
11          0   10.543750     98.0              7          1987           10           0
12   15000000   20.726578    122.0              9          1999           15           0
13   53000000   13.314233    118.0              3          2005            4           0
14  102000000   20.666063    145.0              6          2002           20           0
15     500000    1.018477     97.0             10          2010            6           0
16   26000000    6.336927     85.0              8          2005            4           0
17          0    4.183558    111.0             12          2013           25           0
18    8000000    6.496259     96.0              2          2011            2           0
19   32000000   11.359659     87.0              8          2005            2           0
20   80000000   12.000579    130.0              4          1998            3           0
21    4000000    7.992290     95.0              8          1982           13           0
22          0    7.820787    116.0              7          2012           28           0
23          0    1.323333     92.0              9          2011            2           0
24          0    7.434577     87.0              9          2006            9           0
25          0    1.252367     95.0             10          1992           23           0
26   10000000    4.305735    110.0              9          1997            8           0
27   11000000   10.841891     93.0              9          2013            7           0
28    6000000    6.759181     84.0              8          1986            8           0
29   45000000    7.818620     89.0              4          2002            7           0
30   13000000   16.086919    112.0             11          2011            2           0
31          0    5.695860    117.0              5          2005            2           0
32   90000000   13.412445    106.0             10          2015           21           0
33          0    8.254856    125.0             10          2014            2           0
34  140000000    9.718111     91.0              8          2007            8           0
35   30000000    8.234382     94.0              4          2012           16           0
36          0    2.100499    105.0              1          2000           28           0
37   50000000   13.676444    127.0              3          1995           10           0
38          0    0.329260     90.0              9          2013           13           0
39    3800000    3.055936    123.0              4          2065            7           0
40          0    2.941626    118.0              4          2006           26           0
41    3000000    9.718713    126.0              6          2067           22           0
42   25000000    2.971999    108.0              3          2000            3           0
43    6000000    9.383088     92.0              9          2014            5           0
44   15000000    5.615303     88.0              2          2005            4           0
45    3906840    2.382068     95.0             10          2009            9           0
46   80000000   16.646029     91.0              3          2006           23           0
47   44000000   20.328822    167.0             12          2015           25           0
48          0    8.984386     94.0              3          2017           24           0
49   38000000    8.105708    118.0             11          1994           17           0
50     560000    1.572904    102.0              1          2008           30           0
51   12000000    4.473327    160.0              7          2065            1           0
52          0    1.012665     97.0              6          1980           24           0
53          0    5.410839     98.0              1          1988           15           0
54   20000000    8.759801    107.0              2          2016           19           0
55          0    9.122718     95.0              7          1993            2           0
56          0    2.947980     97.0              8          2009            5           0
57  125000000   17.038824    125.0              6          1997           20           0
58          0    1.882446     95.0              6          2008           24           0
59   14000000    3.909079     95.0              3          2002            8           0
60  150000000   23.065078    144.0             11          2006           14           0
61    4000000    1.801071    105.0              5          2056           30           0
62          0    6.381612    124.0              1          1998           16           0
63    5000000    7.743144    100.0              7          1989           28           0
64   12000000   11.160699    115.0              9          2013           21           0
65    1500000    8.822276     92.0              2          1988           26           0
66   12000000    5.145185    108.0              1          2010           14           0
67          0    6.303552    133.0             10          2013            4           0
68    2000000   14.284787    129.0             12          2062           25           0
69   85000000    2.238808    104.0              6          2006            3           0
70   29000000   12.092096    103.0              3          2005            4           0
71          0    7.667491    126.0              2          2004            6           0
72   11000000    8.290384     85.0              4          1990            5           0
73          0    0.919556     90.0              3          2004           30           0
74     445000    2.482536     84.0              3          1976           31           0
75   17000000    9.665251    106.0              8          2011           18           0
76     500000    0.660663    157.0              5          2000            5           0
77    6000000   10.451986     98.0              7          1980           25           0
78          0    2.633399    122.0             12          1981           18           0
79    1500000    6.636625    102.0              9          2016           15           0
80   15000000    4.984080    118.0             12          2002           14           0
81   10284523    4.349046    104.0             10          2005           21           0
82   43000000   10.947957    104.0              7          2005           29           0
83   28000000    7.482865    116.0             12          1984            6           0
84    2000000   10.239941     85.0              1          2011           21           0
85   50000000    7.260574    109.0              6          1995            9           0
86    8000000    9.741644    105.0             12          1979           18           0
87    7500000   12.314278     91.0              1          1995           30           0
88   20000000   13.655178    126.0              3          2017           31           0
89          0    4.359884    109.0              2          1993            5           0
90   30000000   25.261865    111.0             10          2003           10           0
91          0    3.831960    106.0              3          2001           16           0
92   35000000    1.690768    135.0              9          1995           20           0
93          0   14.322814     96.0              5          2008           15           0
94   15000000   18.184056    147.0              5          2001           16           0
95          0    0.181963     72.0             12          2012            9           0
96    2500000    2.942355     98.0             11          2011           14           0
97          0    1.042112    158.0              6          2011           26           0
98   10500000   11.003515     90.0              8          2012           31           0
99    6000000    5.529808    120.0              4          1988           15           0

### Budget

In [31]:
x_train['no_budget'] = np.where(x_train['budget'] == 0, 1, 0)

In [32]:
x_train.head()

     budget  popularity  runtime  release_month  release_year  release_day  Is_Missing  no_budget
0  14000000    6.575393     93.0              2          2015           20           0          0
1  40000000    8.248895    113.0              8          2004            6           0          0
2   3300000   64.299990    105.0             10          2014           10           0          0
3   1200000    3.174936    122.0              3          2012            9           0          0
4         0    1.148070    118.0              2          2009            5           0          1

### Feature Scaling

In [83]:
budget = x_train['budget']

In [86]:
type(budget)

pandas.core.series.Series

In [88]:
budget.reshape(1, -1)

array([[14000000, 40000000,  3300000, ..., 65000000, 42000000, 35000000]])

In [84]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [87]:
# This does the same as the following code (data – data.min()) / (data.max() – data.min())
x = MinMaxScaler().fit_transform(budget)

ValueError: Expected 2D array, got 1D array instead:
array=[14000000. 40000000.  3300000. ... 65000000. 42000000. 35000000.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

# Choosing The Right Model

In [54]:
# Linear Regression Models
from sklearn.linear_model import LinearRegression

In [68]:
lg = LinearRegression()
fitted = lg.fit(x_train, y_train)
fitted.score(x_train, y_train)

0.6182797298380005

In [67]:
# fitted.predict(test)